@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: miama;
  src: url(./fonts/Miama.otf);
}

:root {
  --orange: rgb(230, 83, 60);
  --gray: rgba(255, 255, 255, 0.5);
  --glass: rgba(255, 255, 255, 0.1);
}

/* shared styles */
body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.font-paragraph {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin: 0px;
}

.font-heading-paragraph {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.font-heading2 {
  font-size: 48px;
  font-weight: 900;
  color: white;
  margin: 0px;
}

.font-heading3 {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin: 0px;
}

img {
  margin: 0px;
}

li {
  list-style: none;
}

/* header section start */
.header {
  background-color: rgb(17, 17, 17);
  padding-bottom: 50px;
}

.header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  padding: 50px 0px;
}

.nav-items > ul {
  display: flex;
  gap: 2rem;
  border: 1px solid var(--gray);
  border-radius: 30px;
  padding: 2px 10px 2px 2px;
}

.nav-items > ul > li {
  padding: 10px 10px;
}
#home {
  background-color: var(--orange);
  border-radius: 30px;
  padding: 10px 20px;
}

nav > h3 {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 800px;
}

.header-body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.aside-1 > h1 {
  font-size: 78px;
  font-weight: 900;
  color: white;
  margin-bottom: 10px;
}
.aside-1 > h1 > span {
  font-family: "miama";
}

.btn-1 {
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: var(--orange);
  margin-right: 10px;
}

.btn-2 {
  background-color: black;
  border: 2px solid var(--gray);
  border-radius: 20px;
  padding: 10px 25px;
}

.aside-2 {
  position: relative;
}

.aside-2 > img {
  max-width: 80%;
  max-height: 100%;
  margin-right: 30px;
}

.one {
  width: 120px;
  height: 80px;
  border: 1px solid var(--gray);
  border-radius: 15px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 20%;
  right: 0px;
}
.two {
  width: 150px;
  height: 50px;
  border: 1px solid var(--gray);
  border-radius: 15px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 5%;
  left: -100px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.one > h2 {
  font-size: 30px;
  font-weight: 900;
  color: white;
  margin: 0px;
}

.two div > h2 {
  font-size: 18px;
  font-weight: 900;
  color: white;
  margin: 0px;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  border: none;
  background-color: var(--orange);
}

.font-awesome {
  display: none;
}

/* main section start */
main {
  background: rgb(0, 0, 0);
  margin: 0px;
}
.habits {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.habits > p,
h2 {
  text-align: center;
}

.habits > p {
  margin: 10px 0px 50px;
}

.habits-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.h-card {
  text-align: center;
}

.h-card > img {
  border-radius: 100px;
  margin-bottom: 20px;
}

.h-card > h3 {
  margin-bottom: 10px;
}
.h-card > p {
  margin-bottom: 30px;
}

.run {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.run > aside > h2 {
  text-align: left;
  margin-bottom: 10px;
}
.run > aside > p {
  margin: 30px 0px 50px;
}
.run > aside > button {
  padding: 15px 50px;
  color: white;
  background-color: var(--orange);
  border: none;
  border-radius: 42px;
}

.run-aside {
  padding: 20px 0px 0px 30px;
}

.run > aside > img {
  border-radius: 18px;
}

.training {
  width: 80%;
  margin: 80px auto;
}

.training > h2 {
  text-align: left;
  margin-bottom: 10px;
}

.grid-row1 > div,
.grid-row2 > div {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 500;
  color:white;
  padding: 20px;
}

.pic-one {
  background-image: url("./images/exercise1.jpg");
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: multiply;  
}
.pic-two {
  background-image: url("./images/exercise2.png");
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.pic-three {
  background-image: url("./images/exercise3.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.pic-four {
  background-image: url("./images/exercise4.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;  
}
.pic-five {
  background-image: url("./images/exercise5.jpg");
  background-color: rgba(66, 255, 0, 0.3);
  background-blend-mode: multiply;
}
.pic-six {
  background-image: url("./images/exercise6.jpg");
  background-color: rgba(0, 71, 255, 0.3);
  background-blend-mode: multiply;
}
#black{
  color:black;  
}
.grid-row1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.grid-row2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
}

/* Responsive design*/
@media screen and (max-width: 576px) {
  .font-awesome {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .header-body {
    flex-direction: column;
  }

  .habits-cards {
    flex-direction: column;
  }

  .run {
    flex-direction: column;
  }

  .run > aside > img {
    border-radius: 18px;
    max-height: 90%;
    max-width: 90%;
  }
}
